body {
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	margin-top:10%;
	max-width: 1200px;
	background-color: lightblue;
}

table {
	border-collapse: collapse;
	/*position: relative;*/
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

td {
	text-align: center;
	font-size: 2em;
	height:6em;
	width: 6em;
	position: center;
	border: solid;
	background-color: indianred;

}

td:hover {
	cursor:pointer;
	background-color: #dd6061;
}

#header {
	margin-left: auto;
	margin-right: auto;
}

.row {
	display: block;
}

#wrapper {
	text-align: center;
}



p, h1, h3{
	text-align: center;
}
