table {
	border-collapse: collapse;
	/*position: relative;*/
	width: 10em;
	margin-left: auto;
	margin-right: auto;
}

td {
	text-align: center;
	font-size: 26px;
	height:40px;
	width: 40px;
	position: center;
	border: solid;
	background-color: indianred;

}

td:hover {
	cursor:pointer;
}

#header {
	margin-left: auto;
	margin-right: auto;
}

.row {
	display: block;
}

#wrapper {
	text-align: center;
}

body {
	margin-left: 30%;
	margin-right: 30%;
	margin-top:10%;
	background-color: lightblue;
}

p, h1, h3{
	text-align: center;
}
